#flex-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
}.heading
{
    margin-left:5%;color: #333
}
#balance-text{
    position:absolute;
}
.colorgrey
{
    color: rgb(117, 115, 115);
}
#docs
{
    height: 90vh;
}
#success{
    height:75vh;
}
.function-container
{
    border: 4px dashed #c5c3c3;
    border-radius: 10px;
    padding: 0;
    margin: auto;
    width: 95vw;
}
.left
{
    padding-left:10px;
}
#otp-container
{
    height: 55vh;
    margin: 15px;
}
#login-pswrd
{
    width: 55vw;
    height: 70vh;
}
#resend
{
    display: none;
}
#login-container
{
    height: 80vh;
}
#login-otp
{
    width: 55vw;
    height: 55vh
}
.balance
{
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    color: rgb(110, 108, 108);
}
.right
{
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    position: relative;
    right: 10px;
    color: rgba(110, 108, 108, 0.651);
}
#merchant-recharge
{
    display: flex;
    flex-direction: row;
    width: 97vw;
}
#merchant-debit
{
    display: flex;
    flex-direction: row;
    width: 97vw;
}
#btn-collection
{
    border: none;
    margin: 5%;
    width: 90vw
}
.flexBox
{
    height: 400px;
}
.history-items
{
    margin: 10px;
}
.recharge
{
    margin-top:7px;
}
.merchantContainer
{
    margin: 5px;
    width: 33vw;
    margin-left: 5%;
}
#btns
{
    padding-top: 15px;
    display: inline;
    float: right;
}
.user-transfer
{
    display: flex;
    flex-direction: row;
    width: 95vw;
}
#logo
{
    margin-top: 21px;
    margin-left: 5px;
    position: absolute;
    height: 8vh;
}

#user,#merchant
{
    display: flex;
    margin: 0 20vw 0 20vw;
    flex-direction: column;
    justify-content: center
}
#know-more
{
    padding: 10px 25px;
    color: white;
    background: #42a5f5;
    border-radius: 50px;
    transition: 0.7s;
    font-size: 3.5vh;
    border: none
}
#know-more:hover
{
    background: #9da7ff;
    cursor: pointer;
}
#quote
{
    opacity: 0;
    transition: 3s;
    height: 92vh
}
blockquote
{
    margin: 0;
    margin-top: 15px;
    line-height:1.7;
    font-size: 7vh;
    padding: 25vh 5vw 0 5vw;
    color: rgb(255, 255, 255);
    letter-spacing: 1.25px;
    word-spacing: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    position: absolute;
}
blockquote::before{
    content: "\201C";
    position: absolute;
    font-size: 40vh;
    top: 0%;
    opacity: 0.2;
    left: 0;
}
#features{
    display: flex;
    justify-content: center;
}
#pic
{
    height: 100vh;
    background: url('../img/other.png'); 
    background-repeat: no-repeat;
    background-position: center;
}
#features .card
{
    background: #fcfafa
}
#map-container{
    width: 60vw;
}
#features i{
    color: rgb(67, 154, 253);
}
#floating-panel {
    padding-left: 10px;
}
#address
{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
}
#submit:hover
{
    background: #3245f3;
    cursor: pointer;
}
#submit
{
    border: none;
    padding: 10px 20px;
    background: rgb(67, 154, 253);
    border-radius: 5px;
    transition: 1.5s;
    color: white;
    margin: 15px;
}
#map{
  height: 70vh;
  width: 100%;
}
.feature-cards
{   
    width: 30vw;
    margin: 20px;
    font-size: 1.2rem
}
#choose
{
    text-align: center;
    color: white;
    width: 100%;
    height: 90px;
    padding: 20px;
    font-size: 3rem;
    color: rgb(88, 86, 86);
}
#history li{
    border-bottom: 1px solid #eaeaea
}
.date
{
    margin-left: 20vw;
}
#partner-list li
{
    margin: 10px
}
.add
{
    margin-left: 20vw;
    color: rgb(62, 235, 62)
}
.subtract
{
    margin-left: 20vw;
    color: red;
}
#history{
    padding: 0;
}
  @media(max-width:700px)
{  
    .collapsible-body{
        padding: 12px;
    }
    .left{
        padding: 0;
    }
     #features
    {
        flex-direction: column
    }
   .balance{
       flex-direction: column;
       justify-content: center;
   }
   .right
   {
       padding-left: 10px;
   }
    .feature-cards
    {
        width: 75vw;
        margin:10px;
    }
    #btns li a
    {
        margin: 5px;
    }
    .user-transfer
    {
        flex-direction: column
    }

    #btn-collection
    {
        width: 90vw;
    }
    #merchant-recharge
    {
        flex-direction: column
    }
    #merchant-debit
    {
        flex-direction: column;
    }
    .merchantContainer
    {
        width: 85vw;
    }
    blockquote
    {
        font-size: 5vh;
        padding: 20vh 5vw 0 5vw;
        margin-top: 0;
    }
    blockquote::before
    {
        top:-5%;
    }
    #know-more
    {
        margin-top: 0px;
    }
    #pic
    {
        display: none;
    }
    .right{
        color: rgba(110, 108, 108, 0.767);
        margin-top: 15px
    }
    #map-container{
        width: 100%
    }
    .date
{
    margin-left: 5vw;
}
.add
{
    margin-left: 5vw;
    color: rgb(62, 235, 62)
}
.subtract
{
    margin-left: 5vw;
    color: red;
}

.history-items
{
    margin: 10px;
}
}