<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('wallet:static/css/materialize.css')}}" />
    <link rel="stylesheet" href="{{request.static_url('wallet:static/css/style.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
</head>

<body>
    <div class="navbar-fixed">
        <nav class="nav-extended">
            <div class="nav">
                <div class="">
                    <div class="">
                        <img src=" {{request.static_url('wallet:static/images/PayDex.png')}} " alt="" id="logo">
                        <ul id="btns">
                            <li><b>Login:</b></li>
                            <li><a class="waves-effect waves-light btn list-items" href="/login">User</a></li>
                            <li> <a class="waves-effect waves-light btn list-items" href="/loginMer">Partner</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div id="flex-container">
        <canvas class="flexBox" id="quote">
        </canvas>
        <blockquote style="height:92vh">

            There are some things that money can't buy, for all the other things
            PayDex is here
            <br><br>
            <center> <a id="know-more" href="/signup" >Sign up</a></center>
        </blockquote>
        <div class="flexBox">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src=" {{request.static_url('wallet:static/images/1.jpg')}} ">
                        <div class="caption center-align">
                            <h3>Easy For Elders</h3>
                            <h5 class="light slidetext"></h5>
                        </div>
                    </li>
                    <li>
                        <img src="{{request.static_url('wallet:static/images/2.jpg')}}">>
                        <div class="caption left-align">
                            <h3>For Youth</h3>
                            <h5 class="light slidetext"></h5>
                        </div>
                    </li>
                    <li>
                        <img src="{{request.static_url('wallet:static/images/3.jpg')}}">
                        <div class="caption right-align">
                            <h3>Helping hand for refugees</h3>
                            <h5 class="light  slidetext"></h5>
                        </div>
                    </li>
                    <!-- <li>
                    <img src="https://lorempixel.com/580/250/nature/4">
                    <div class="caption center-align">
                      <h3>This is our big Tagline!</h3>
                      <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                  </li> -->
                </ul>
            </div>
        </div>
        <center><br><br><br>
            <div id="more">
                <center>
                    <div id="choose">Why to use PayDex?</div><br><br>
                </center><br><br>
                <div id="features">
                    <div class="feature-cards">
                        <div style="padding:10px; min-height: 400px" class="card hoverable">
                            <center><span class="card-title"><b>No more Email required</b></span></center><br>
                            <div class="center-align card-image">
                                <i class="fas fa-at" style="font-size: 150px;"></i>

                            </div>
                            <div class="card-content">
                                <p>Your phone number is enough
                                    for the signup. No need of emails</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-cards">
                        <div style="padding:10px;min-height: 400px" class="card hoverable">
                            <center><span class="card-title"><b>Phone number is your security</b></span></center>
                            <div class="center-align card-image">
                                <i class="fas fa-shield-alt" style="font-size: 150px;"></i>

                            </div>
                            <div class="card-content">
                                <p>Elderly people don't need to remember password.
                                    your OTP will serve you</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-cards">
                        <div style="padding:10px;min-height: 400px" class="card hoverable">
                            <center><span class="card-title"><b>Easy To Operate</b> </span></center><br>
                            <div class="center-align card-image">
                                <i class="far fa-hand-point-up" style="font-size: 150px;"></i>

                            </div>
                            <div class="card-content">
                                <p> Now paying and recieving money is just a work of 1 step. Just
                                    enter the amount and pay by confirming OTP</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-cards">
                        <div style="padding:10px;min-height: 400px;" class="card hoverable">
                            <center><span class="card-title"> <b>Accessible To All</b> </span></center><br>
                            <div class="center-align card-image">
                                <i class="fas fa-universal-access" style="font-size: 150px;"></i>

                            </div>
                            <div class="card-content">
                                <p>Not only young gereration, but old citiizens, refugees, and
                                    physically challenged people can also use it easily</p>
                            </div>
                        </div>
                    </div>
                </div>
        </center>
    </div>
    <div id="pic">
    </div>
    </div><br>
    <br>
    <br>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About PayDex</h5>
                    <p class="grey-text text-lighten-4">Paydex is one of the most unique solution to cash dominated
                        country, a payment wallet for all the citizens, students, elderly people, refugees and
                        physically impaired people.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Other info</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Why become our Partner?</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Customer's Benifit</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Know about our team</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 The Decoits
                <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
        </div>
    </footer>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
    <script>
        var recognition = new webkitSpeechRecognition();
        recognition.continuous = true;
        recognition.interimResults = true;
        recognition.lang = "en-GB";

        recognition.onresult = function (event) {
            var interim_transcript = '';

            for (var i = event.resultIndex; i < event.results.length; ++i) {
                if (event.results[i].isFinal) {
                    final_transcript += event.results[i][0].transcript;
                } else {
                    interim_transcript += event.results[i][0].transcript;
                }
            }

            console.log(interim_transcript, final_transcript);
        };
    </script> -->
    <script src="{{request.static_url('wallet:static/js/voice.js')}}"></script>
   <script src="{{request.static_url('wallet:static/js/main.js')}}"></script>
    <script src="{{request.static_url('wallet:static/js/granim.js')}}"></script>
    <script>
        function scrolling() {
            document.querySelector('#more').scrollIntoView({
                behavior: 'smooth'
            });
        }
        let elem = document.getElementById('quote');
        elem.style.opacity = "1";
        var granimInstance = new Granim({
            element: '#quote',
            name: 'basic-gradient',
            direction: 'diagonal', // 'diagonal', 'top-bottom', 'radial'
            opacity: [1, 1],
            stateTransitionSpeed: 2000,
            isPausedWhenNotInView: true,
            states: {
                "default-state": {
                    gradients: [
                        ['#834d9b', '#d04ed6'],
                        ['#1CD8D2', '#93EDC7']
                    ]
                }
            }
        });
    </script>
    <script src="{{request.static_url('wallet:static/js/bin/materialize.js')}}"></script>
    <script>
        M.AutoInit();
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.slider');
            var instances = M.Slider.init(elems, { indicators: false, duration: 600, interval: 3000 });
        });
    </script>
    <!-- <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <script>
        function detect() {
            let counter = 0;
            const recognition = new (
                window.SpeechRecognition ||
                window.webkitSpeechRecognition ||
                window.mozSpeechRecognition ||
                window.msSpeechRecognition
            )();
            if (counter == 0) {
                responsiveVoice.speak("Hello!......, welcome to PayDex!, Do you want voice Assistance?", "US English Female");
            }
            recognition.addEventListener('result', event => {
                console.log(event)
                const currentIndex = event.results.length - 1;
                const transcript = event.results[currentIndex][0].transcript;
                console.log(transcript)
                if (transcript == 'yes') {
                    responsiveVoice.speak("What do you want to do?")
                    const recog2 = new (window.SpeechRecognition || window.webkitSpeechRecognition || window.mozSpeechRecognition || window.msSpeechRecognition)();
                    recog2.addEventListener('result', e => {
                        let index = e.results.length - 1;
                        let text = e.results[index][0].transcript;
                        console.log(text)
                        if (text == "login") {
                            localStorage.setItem('voice', true);
                            console.log(localStorage.getItem('voice'), 'setting voice in localStorage')
                            window.location = '/login.html'
                        }
                    })
                    setTimeout(e=>{
                        recog2.start();
                    },1000)
                    
                }
                else if (transcript == 'no') {
                    responsiveVoice.speak("Okay then......, Have a good day!")
                }
                else {
                    responsiveVoice.speak("Sorry, I did not understand what you just said. Perhaps we can try again.")
                    counter = 1;
                    detect();
                }
            })
            setTimeout(e=>{
                recognition.start();
            },3500)
            
        }
        window.onload = detect;
      /* navigator.permissions.query({name:'midi', sysex:true})

        navigator.permissions.query({name:'midi'})
        .then(e=>{
            if(e){
               console.log(e)
               // responsiveVoice.speak("hello world", "UK English Male");
            }
        })*/
    </script> -->
</body>

</html>