<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('wallet:static/css/materialize.css')}}" />
    <link rel="stylesheet" href="{{request.static_url('wallet:static/css/style.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
</head>

<body>
    <div class="navbar-fixed">
    <nav class="nav-extended">
        <div>
            <div class="">
                <div class="">
                    <img src="{{request.static_url('wallet:static/images/Paydex.png')}}" alt="" id="logo">
                    <ul id="btns">
                        <!-- <li> <a class="waves-effect waves-light btn list-items">Logout</a></li> -->
                        <li><button href="" class="btn-floating"><i class="far fa-user" style="font-size: 20px;"></i></button></li>
                       <li><button class="btn-floating yellow accent-4"><i class="fas fa-sign-out-alt" style="font-size: 20px;"></i></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav></div><br><br>
    <div style="border-bottom:1px solid lightgrey" class="nav-wrapper">
        <form method="POST" action="/search">
            <div class="input-field">
                <input id="search" type="search" placeholder="Search User" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
    <br><br>
    <a title="Request Agent" style="position:absolute;right:15px;top:170px;" class="btn-floating pulse"><i class="fas fa-truck"
            style="font-size: 16px;"></i></a><br>
    <div class="function-container hoverable">
    <h4 class="heading">Recharge</h4><br>
    <form action="/merCredit" method="post">
    <div id="merchant-recharge">
        <div class="input-field merchantContainer">
            <i class="fas fa-mobile-alt prefix colorgrey" style="font-size: 25px;"></i>
            <input type="text" id="mobileToCredit" name="mobileno" class="autocomplete">
            <label class="active" for="mobileToCredit">Mobile Number</label>
        </div><br>
        <div class="input-field merchantContainer">
            <i class="fas fa-rupee-sign prefix colorgrey" style="font-size: 25px;"></i>
            <input type="text" id="amountToCredit" name="money" class="autocomplete">
            <label for="amountToCredit">Amount</label>
        </div><br>
        <div class="merchantContainer"><button class="waves-effect waves-light btn recharge" type="submit" name="for.submitted"><i class="fas fa-bolt" style='font-size:15px ;position:relative ; margin-bottom:0;'></i>
                &nbsp;Recharge</button></div>
    </div></div>
    </form>
    <br>
    <br>
    <br>
    <div class="function-container hoverable">
    <h4 class="heading">Debit</h4><br>
    
    <div id="merchant-debit">
    <form action="/merDebit" method="post">
        <div class="input-field merchantContainer">
            <i class="fas fa-mobile-alt prefix colorgrey" style="font-size: 25px;"></i>
            <input type="text" id="mobileToDebit" name="mobileno" class="autocomplete">
            <label for="mobileToDebit">Mobile Number</label>
        </div><br>
        <div class="input-field merchantContainer">
            <i class="fas fa-rupee-sign prefix colorgrey" style="font-size: 25px;"></i>
            <input type="text" id="amountToDebit" name="money" class="autocomplete">
            <label for="amountToDebit">Amount</label>
        </div><br>
        <div class="merchantContainer"><button class="waves-effect waves-light btn recharge" type="submit" name="form.submitted">&nbsp;&nbsp;&nbsp;&nbsp;<i
                    class="fas fa-wallet" style="font-size: 16px;"></i>
                &nbsp;Debit&nbsp;&nbsp;&nbsp;</button></div>
    </div>
    </form>
    </div>
    
    <br><br>
    <ul id="btn-collection" class="collapsible expandable ">
        <li>
            <div class="collapsible-header"><i class="fas fa-history" style="font-size: 20px;"></i>Last 10 Transaction
                History</div>
            <div class="collapsible-body"><span>
                    <ol id="history">
                        {% for txn in history %}
                        <li class="history-items">{{ txn['to'] }} -    {{ txn['value'] }}</li>
                        {% endfor %}
                    </ol>

                </span></div>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About PayDex</h5>
                    <p class="grey-text text-lighten-4">Paydex is one of the most unique solution to  cash dominated country, a payment wallet for all the citizens, students, elderly people, refugees and physically impaired people.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Other info</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Why become our Partner?</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Customer's Benifit</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Know about our team</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 The Decoits
                <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
        </div>
    </footer>

    <script src="{{request.static_url('wallet:static/js/bin/materialize.js')}}"></script>
    <script>
        M.AutoInit();
        var elem = document.querySelector('.collapsible.expandable');
        var instance = M.Collapsible.init(elem, {
            accordion: false
        });
    </script>
</body>

</html>
