<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('wallet:static/css/materialize.css')}}" />
    <link rel="stylesheet" href="{{request.static_url('wallet:static/css/style.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
</head>

<body>
    <div class="navbar-fixed">
        <nav class="nav-extended">
            <div>
                <div style="height: 80px;" class="nav-wrapper">
                    <div class="">
                        <img src="{{request.static_url('wallet:static/images/PayDex.png')}}" alt="" id="logo">
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <br><br>
    <center>

    <form action="/otpVerify/{{txn}}" method="post" name="otpVerify">
        <div class="input-field">
            <input type="text" id="otp" name="otp" class="autocomplete">
            <label for="otp">OTP</label>
        </div><br>
        <span id="expire"><span id="expire-msg">OTP expires in </span><span id="time"></span><a href="" id="resend">Resend
                OTP</a></span>
        <div><button class="waves-effect waves-light btn recharge yellow darken-1" type="submit" name="form.submitted">
                &nbsp;Verify</button></div>
    </form>
    </center>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About PayDex</h5>
                    <p class="grey-text text-lighten-4">Paydex is one of the most unique solution to cash dominated
                        country, a payment wallet for all the citizens, students, elderly people, refugees and
                        physically impaired people.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Other info</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Why become our Partner?</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Customer's Benifit</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Know about our team</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 The Decoits
                <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
        </div>
    </footer>



    <script src="{{request.static_url('wallet:static/js/bin/materialize.js')}}"></script>
    <script>
        M.AutoInit();
        let msg = document.getElementById('expire-msg');
        let display = document.getElementById('time');
        let resendMsg = document.getElementById('resend')
        let elem = document.querySelector('.collapsible.expandable');
        let instance = M.Collapsible.init(elem, {
            accordion: false
        });
        function startTimer(duration, display) {
            let timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10)
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    msg.style.display = 'none';
                    display.style.display = 'none';
                    resendMsg.style.display = 'block';
                }
            }, 1000);
        }

        window.onload = function () {
            let time = 60 * 1.5
            startTimer(time, display);
        };
    </script>
    <script src="{{request.static_url('wallet:static/js/voice.js')}}"></script>
    <script src="{{request.static_url('wallet:static/js/otptxn.js')}}"></script>
</body>

</html>