<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('wallet:static/css/materialize.css')}}" />
    <link rel="stylesheet" href="{{request.static_url('wallet:static/css/style.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
</head>

<body>
    <div class="navbar-fixed">
        <nav class="nav-extended">
            <div style="height:80px" class="nav-wrapper">
                <div class="">
                    <div class="">
                        <img src="{{request.static_url('wallet:static/images/Paydex.png')}}" alt="" id="logo">

                    </div>
                </div>
            </div>
            <div class="nav-content">
                <ul class="tabs">
                    <li class="tab"><a class="active" href="#user">User</a></li>
                    <li class="tab"><a href="#merchant">Partner</a></li>
                </ul>
            </div>
        </nav>
    </div><br><br><br>
    <div id="user">
        <form action="/createCus" method="post"><br><br>
            <div class="input-field">
                <i class="fas fa-user-alt prefix colorgrey" style="font-size: 25px;"></i>
                <input type="text" id="name" name="name" class="autocomplete" required>
                <label class="active" for="name">Full Name</label>
            </div><br>
            <div class="input-field">
                <i class="fas fa-mobile-alt prefix colorgrey" style="font-size: 25px;"></i>
                <input id="signupphone" name="mobileno" class="autocomplete" required>
                <label class="active" for="signupphone">Mobile Number</label>
            </div><br>
            <div class="input-field">
                <i class="fas fa-envelope prefix colorgrey" style="font-size: 25px;"></i>
                <input type="email" id="email" name="email" class="validate">
                <label class="active" for="email">Email</label>
                <span class="helper-text" data-error="Please enter email in correct format">Optional</span>
            </div><br>
            <div class="input-field">
                <i class="fas fa-key prefix colorgrey" style="font-size: 25px;"></i>
                <input type="password" id="upassword" name="password" class="autocomplete validate">
                <label class="active" for="upassword">Password</label>
                <span class="helper-text">Optional</span>
                <br><br>
                <div class="right-align">
                    <a class="right-align" href="">Already have an account?</a>
                </div>
            </div><br>
                
            <center><button class="waves-effect waves-light btn" type="submit" name='form.submitted'>
                &nbsp;sign up</button></center><br>
            <br>
            <br>
        </form>
    </div>
    <div id="merchant"><br><br>
        <form action="/createMer" method="post">
            <div class="input-field">
                <i class="fas fa-user-alt prefix colorgrey" style="font-size: 25px;"></i>
                <input type="text" id="mname" name="name" class="autocomplete" required />
                <label class="active" for="mname">Full Name</label>
            </div><br>
            <div class="input-field">
                <i class="fas fa-mobile-alt prefix colorgrey" style="font-size: 25px;"></i>
                <input type="text" id="msignupphone" name="mobileno" class="autocomplete" required />
                <label class="active" for="msignupphone">Mobile Number</label>
            </div><br>
            <div class="input-field">
                <i class="fas fa-envelope prefix colorgrey" style="font-size: 25px;"></i>
                <input type="email" id="memail" name="email" class="autocomplete validate" required>
                <label class="active" for="memail">Email</label>
                <span class="helper-text" data-error="Please enter email in correct format"></span>
            </div>
            <div class="input-field">
                <i class="fas fa-map-marked-alt prefix colorgrey" style="font-size: 25px;"></i>
                <input type="text" id="maddress" name="address" class="autocomplete" required />
                <label class="active" for="address">Address of Shop</label>
            </div><br>
            <div class="input-field">
                <i class="fas fa-key prefix colorgrey" style="font-size: 25px;"></i>
                <input type="text" id="mpassword" name="password" class="autocomplete" required />
                <label class="active" for="mpassword">Password</label>
            </div><br>
            <div class="right-align">
            <a class="" href="/login">Already have an account?</a></div><br><br>
            <center> <button class="waves-effect waves-light btn" type="submit" name="form.submitted">
                &nbsp;sign up</button></center><br>
            <br>
            <br>

        </form>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About PayDex</h5>
                    <p class="grey-text text-lighten-4">Paydex is one of the most unique solution to  cash dominated country, a payment wallet for all the citizens, students, elderly people, refugees and physically impaired people.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Other info</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Why become our Partner?</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Customer's Benifit</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Know about our team</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 The Decoits
                <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
        </div>
    </footer>


    <script src="{{request.static_url('wallet:static/js/bin/materialize.js')}}"></script>
    <script>
        M.AutoInit();
        var elem = document.querySelector('.collapsible.expandable');
        var instance = M.Collapsible.init(elem, {
            accordion: false
        });
    </script>
</body>

</html>
