<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('wallet:static/css/materialize.css')}}" />
    <link rel="stylesheet" href="{{request.static_url('wallet:static/css/style.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <style>

    </style>
</head>

<body>
    <div class="navbar-fixed">
        <nav class="nav-extended">
            <div>
                <div class="">
                    <div class="">
                        <img src="{{request.static_url('wallet:static/images/Paydex.png')}}" alt="" id="logo">
                        <ul id="btns">
                            <!-- <li> <a class="waves-effect waves-light btn list-items">Logout</a></li> -->
                            <li><a href="" class="btn-floating"><i class="far fa-user" style="font-size: 20px;"></i></a></li>
                            <li><a class="btn-floating"><i class="fas fa-sign-out-alt" style="font-size: 20px;"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div><br><br><br>
    <div class="balance">
            <div class="left"> 
                <b>Account Balance :
        </b> <i class="fas fa-rupee-sign" style="font-size: 1.1rem;"></i></a> XXXX </div>
   
        <div class="right">  <b>Credit Limit :
    </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-rupee-sign" style="font-size: 1.2rem;"></i>&nbsp;XXXX <br><b>You can add(this
        week) :&nbsp;</b><i class="fas fa-rupee-sign" style="font-size: 1.1rem;"></i>&nbsp;XXXX</div>
    </div>
    </div>
    <br>
    <br>
    <div class="function-container hoverable">
        <h4 class="heading">Transfer</h4><br>
        <div class="user-transfer">
            <div class="input-field merchantContainer">
                <i class="fas fa-mobile-alt prefix colorgrey" style="font-size: 25px;"></i>
                <input type="text" id="userToTransfer" name="mobileno" class="autocomplete">
                <label class="active" for="userToTransfer">Mobile Number</label>
            </div><br>
            <div class="input-field merchantContainer">
                <i class="fas fa-rupee-sign prefix colorgrey" style="font-size: 25px;"></i>
                <input type="text" id="moneyToTransfer" name = "money" class="autocomplete">
                <label for="moneyToTransfer">Amount</label>
            </div><br>
            <div class="merchantContainer"><a class="waves-effect waves-light btn recharge"><i class="fas fa-exchange-alt"
                        style='font-size:15px ;position:relative ; margin-bottom:0;'></i>
                    &nbsp;Tranfer</a></div>
        </div><br><br>
    </div><br>
    <br>
    <br>

    <div class="function-container hoverable">
        <h4 class="heading">Request</h4><br>
        <div class="user-transfer">
            <div class="input-field merchantContainer">
                <i class="fas fa-mobile-alt prefix colorgrey" style="font-size: 25px;"></i>
                <input type="text" id="userToRequest" class="autocomplete">
                <label class="active" for="userToRequest">Mobile Number</label>
            </div><br>
            <div class="input-field merchantContainer">
                <i class="fas fa-rupee-sign prefix colorgrey" style="font-size: 25px;"></i>
                <input type="text" id="moneyToRequest" class="autocomplete">
                <label for="moneyToRequest">Amount</label>
            </div><br>
            <div class="merchantContainer"><a class="waves-effect waves-light btn recharge"><i class="fas fa-bolt"
                        style='font-size:15px ;position:relative ; margin-bottom:0;'></i>
                    &nbsp;Request</a></div>
        </div><br><br>

    </div>
    <br>
    <br>
    <center>
        <h3>Find our Partners near you!</h3>
    </center><br><br>
    <center>
        <div id="floating-panel">
            <input placeholder="Enter your location" id="address" type="textbox">
            <input id="submit" type="button" value="Get Partners">
        </div><br>
        <div id="map"></div>
    </center>
    <ul id="btn-collection" class="collapsible expandable">
        <li>
            <div class="collapsible-header" style="width:100%;"><i class="fas fa-map-marked-alt" style="font-size: 20px;"></i>Find Merchants Near Me</div>
            <div class="collapsible-body"><span>
                    <ol id="history">
                        {% for txn in history %}
                        <li class="history-items">{{ txn['to'] }}</li>
                        {% endfor %}
                    </ol>
                </span></div>
        </li>
        <li>

            <div class="collapsible-header"><i class="fas fa-history" style="font-size: 20px;"></i>Last 10 Transaction
                History</div>
            <div class="collapsible-body"><span>
                    <ol id="history">
                        <li class="history-items">Lorem, ipsum.</li>
                        <li class="history-items">Nostrum, dolorem!</li>
                        <li class="history-items">Vero, voluptatibus.</li>
                        <li class="history-items">Molestiae, debitis.</li>
                        <li class="history-items">Tempore, atque.</li>
                        <li class="history-items">Ab, inventore.</li>
                        <li class="history-items">Esse, non!</li>
                        <li class="history-items">Illo, saepe.</li>
                        <li class="history-items">Labore, dolorum?</li>
                        <li class="history-items">Ullam, adipisci?</li>
                    </ol>

                </span></div>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Heading</h5>
                    <p class="grey-text text-lighten-4">Text Placeholder</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 The Decoits
                <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
        </div>
    </footer>

    <script src="{{request.static_url('wallet:static/js/bin/materialize.js')}}"></script>
    <script src="{{request.static_url('wallet:static/js/index.js')}}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap">
    </script>
    <script>
        M.AutoInit();
        var elem = document.querySelector('.collapsible.expandable');
        var instance = M.Collapsible.init(elem, {
            accordion: false
        });
    </script>
</body>

</html>